<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Data Car</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <section id="navbar">
      <nav class="navbar navbar-expand-md pe-4">
        <a class="navbar-img" href="#">
          <img src="/assets/fi_menu.svg" alt="Logo Rental"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <form class="d-flex pe-5" role="search">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-primary"
              style="border-color: #0d28a6; color: #0d28a6; border-width: 2px"
              type="submit"
            >
              Search
            </button>
          </form>
          <div class="dropdown text-end me-0">
            <a
              href="#"
              class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt=""
                width="32"
                height="32"
                class="rounded-circle me-2"
              />
              <strong>Rendi</strong>
            </a>
          </div>
        </div>
      </nav>
    </section>

    <!-- Sidebar -->

    <aside>
      <div class="sidebar-left">
        <!-- Tempatkan logo atau gambar di sini -->
        <div class="pt-3">
          <img src="/assets/Rectangle 63.svg" alt="Logo" />
        </div>
        <ul class="pt-3">
          <li>
            <img src="/assets/Group 2.svg" alt="Home" />
          </li>
          <div class="select">
            <li>
              <img src="/assets/fi_truck.svg" alt="Cars" />
            </li>
          </div>
        </ul>
      </div>
      <div class="sidebar-right">
        <!-- Daftar menu di sini -->
        <div class="pt-3 text-center">
          <img src="/assets/Rectangle 62.svg" alt="Logo" />
        </div>
        <ul class="pt-4">
          <li>
            <a href="#" style="color: #8a8a8a; font-size: 14px"
              ><strong>CARS</strong></a
            >
          </li>
          <li class="select-menu">
            <a href="#" style="font-size: 14px"><strong>List Car</strong></a>
          </li>
        </ul>
      </div>
    </aside>

    <main>
      <!-- Tittle Main -->
      <p style="font-size: 14px">
        <strong>Cars > List Car ></strong> Add New Car
      </p>
      <div class="container-add">
        <div class="left">
          <span>
            <h5 class="pt-2"><strong>Add New Car</strong></h5>
          </span>
        </div>
      </div>

      <!-- Form -->
      <div>
        <form
          id="myForm"
          action="/cars/admin/create"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="container-form">
            <div class="row pt-4" style="font-size: 14px">
              <div class="col-md-3"><label for="name">Nama*</label></div>
              <div class="col-md-6">
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="col-text"
                  placeholder="Nama/Tipe Mobil"
                  required
                />
              </div>
            </div>
            <div class="row pt-4" style="font-size: 14px">
              <div class="col-md-3">
                <label for="price">Sewa Per Hari*</label>
              </div>
              <div class="col-md-6">
                <input
                  type="number"
                  name="price"
                  id="price"
                  class="col-text"
                  placeholder="Rp.0"
                  required
                />
              </div>
            </div>
            <div class="row pt-4" style="font-size: 14px">
              <div class="col-md-3"><label for="size">Ukuran*</label></div>
              <div class="col-md-6">
                <select id="size" name="size" class="col-text">
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                </select>
              </div>
            </div>
            <div class="row pt-4" style="font-size: 14px">
              <div class="col-md-3"><label for="photo">Foto*</label></div>
              <div class="col-md-6">
                <label class="custom-file-upload">
                  <input type="file" name="photo" accept="image/*" required />
                  <img
                    class="justify-content-end"
                    src="/assets/fi_upload.svg"
                    alt="Upload Image"
                  />
                </label>
                <p style="font-size: 12px; color: #646464">
                  File size max 2 Mb
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Button -->
      <div class="button-cu mt-5 mt-5">
        <a href="/cars"
          ><button class="cancel-btn" type="button" form="myForm">
            Cancel
          </button></a
        >
        <button class="save-btn" type="submit" form="myForm">Save</button>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
